.DS_Store
npm/
*transient*

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
.zed

deno.lock
node_modules
bun.lock
bun.lockb

# Data directories
data/
greatness_awaits
.claude
*.log
